* {
  scrollbar-color: rgba(46,49,54,1) rgba( 25, 203, 151, 1 );
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  background-color: rgba( 25, 203, 151, 1 );
  width: 7px;
}

*::-webkit-scrollbar-track {
  width: 7px;
  border-left:solid 0.5px rgba( 25, 203, 151, 1 )
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(46,49,54,1);
  border-radius: 20px;
}

html {
  scroll-behavior: smooth;
}

body{
    font-family: georama,sans-serif;
    font-weight: 700!important;
    font-size: 24px;
    padding: 50px;
}

.greenBackground {
    background: url("images/nft_background.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
  margin: auto;
  max-width: 1200px;
}

.profile {
    display:block;
    margin:auto;
    border-radius: 50%;
    -webkit-border-radius: 50%; 
    -moz-border-radius: 50%; 
    width: 400px;
    outline: 2px solid black;
    outline-offset: -2px;
}

h1 {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    color: white;
    font-size: 48px;
}

p {
  margin-top: 10px;
  margin-bottom: 0;
  color: white;
  font-size: 20px;
}

a {
  color: white;
  text-decoration: underline;
}

a:hover {
  color: #ddd;
}

@media screen and (max-width: 580px) {
    .profile {
      width: 250px;
    }

    h1 {
      font-size: 38px;
    }

    p {
      font-size: 18px;
    }

    ul li{
      font-size: 18px;
    }
}

ul {
  list-style: none; /* Remove default bullets */
  color: white;
  font-size: 20px;
}

ul li {
  margin-bottom: 5px;
}

ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: white; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}