* {
  scrollbar-color: rgba( 136, 52, 228, 1 ) #1f2029;
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  background-color: #0f2663;
  width: 9px;
}

*::-webkit-scrollbar-track {
  width: 9px;
  border-left:solid 0.5px #0f2663
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(136,52,228,0.85) ;
  border-radius: 20px;
}

html {
  scroll-behavior: smooth;
}

body{
    font-family: georama,sans-serif;
    font-weight: 900!important;
    font-size: 24px;
}

.purpleBackground {
    background: url("images/purple_background.webp") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.profile {
    display:block;
    margin:auto;
    border-radius: 50%;
    width: 400px;
}

@media screen and (max-width: 580px) {
    .profile {
        width: 250px;
    }

    h1 {
        font-size: 28px;
    }
}

h1 {
    margin-top: 30px;
    text-align: center;
    color: white;
}